{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartements{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités
            et gagner de l'argent en proposant leur bien(s) à la location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs ? et vous voulez voir où vous pourrez vous loger pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index')}}" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2 class="text-center h1 mt-3 mb-5">Nos appartements</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,<b> 49&euro; / nuit</b> <br>
                    <small>Pas encore noté</small>
    
                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" height="200px" width="100%"
                        style="display: block;">
    
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum tempora voluptas eius,
                            cum in. Velit ratione doloribus blanditiis accusantium! Dicta cum odio qui doloribus possimus
                            minus perferendis cumque, a, labore eaque corrupti vitae, quisquam quam. Veritatis laborum quae
                            voluptatibus quam amet voluptas dolorum, perferendis, tempore rem quasi unde illo.Similique
                            labore sed non nesciunt? Odit hic in veritatis natus temporibus! Modi corporis aliquid repellat
                            iusto magnam nihil ab eos doloremque deserunt sed, unde rerum aliquam maiores omnis commodi quae
                            odit dicta blanditiis perferendis? Dicta, deleniti voluptatibus quisquam quia eveniet, quis
                            fugit sequi numquam itaque atque labore corporis facilis tenetur.
                        </p>
                        <a href="#" class="btn btn-secondary lg">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,<b> 49&euro; / nuit</b> <br>
                    <small>Pas encore noté</small>
    
                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" height="200px" width="100%"
                        style="display: block;">
    
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum tempora voluptas eius,
                            cum in. Velit ratione doloribus blanditiis accusantium! Dicta cum odio qui doloribus possimus
                            minus perferendis cumque, a, labore eaque corrupti vitae, quisquam quam. Veritatis laborum quae
                            voluptatibus quam amet voluptas dolorum, perferendis, tempore rem quasi unde illo.Similique
                            labore sed non nesciunt? Odit hic in veritatis natus temporibus! Modi corporis aliquid repellat
                            iusto magnam nihil ab eos doloremque deserunt sed, unde rerum aliquam maiores omnis commodi quae
                            odit dicta blanditiis perferendis? Dicta, deleniti voluptatibus quisquam quia eveniet, quis
                            fugit sequi numquam itaque atque labore corporis facilis tenetur.
                        </p>
                        <a href="#" class="btn btn-secondary lg">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,<b> 49&euro; / nuit</b> <br>
                    <small>Pas encore noté</small>
    
                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" height="200px" width="100%"
                        style="display: block;">
    
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum tempora voluptas eius,
                            cum in. Velit ratione doloribus blanditiis accusantium! Dicta cum odio qui doloribus possimus
                            minus perferendis cumque, a, labore eaque corrupti vitae, quisquam quam. Veritatis laborum quae
                            voluptatibus quam amet voluptas dolorum, perferendis, tempore rem quasi unde illo.Similique
                            labore sed non nesciunt? Odit hic in veritatis natus temporibus! Modi corporis aliquid repellat
                            iusto magnam nihil ab eos doloremque deserunt sed, unde rerum aliquam maiores omnis commodi quae
                            odit dicta blanditiis perferendis? Dicta, deleniti voluptatibus quisquam quia eveniet, quis
                            fugit sequi numquam itaque atque labore corporis facilis tenetur.
                        </p>
                        <a href="#" class="btn btn-secondary lg">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center h1 mt-3 mb-5">Nos utilisateurs stars</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Anthony Gorode</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de l'avatar de Anthony Gorode" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Bob Marley</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de l'avatar de Bob Marley" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# 
    {% for ad in ads %}
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                   {{ ad.rooms }} chambres,<b> {{ ad.price }}&euro; / nuit</b> <br>
                    <small>Pas encore noté</small>
                    <a href="{{ path('ads_show',{'slug' : ad.slug}) }}">
                        <img src="{{ ad.coverImage }}" alt="image de l'appartement" height="200px" width="100%" style="display: block;">
                    </a>
    
                    <div class="card-body">
                        <a href="{{ path('ads_show',{'slug' : ad.slug}) }}">
                            <h4 class="card-title">
                                {{ ad.title }}
                            </h4>
                        </a>
                        <p class="card-text">
                            {{ ad.introduction }}
                        </p>
                        <a href="{{ path('ads_show',{'slug' : ad.slug}) }}" class="btn btn-secondary lg">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    #}
{% endblock %}

{% block javascripts %}
{% endblock %}